table.tableTutorial {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
}
table.tableTutorial td {
    border: 1px solid black;
    font-size: 1em;
	padding: 5px;
}
table.tableTutorial th {
    border: 1px solid black;
    font-size: 1.3em;
	width: 1%;
}
table.tableTutorial #content, #title{
  width: 100%;
}
table.tableTutorialCategories {
    width: 100%;
    border-collapse: collapse;
}
table.tableTutorialCategories td{
    border: none;
}
#selectTutorial {
    display: block;
	margin: 10px;
	padding: 5px;
}
input:focus,textarea:focus {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
