table.dashboard_tutorial {
    margin: auto;
    width: 90%;
    background: white;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #A7C942;
}
table.dashboard_tutorial td {
    border: 1px solid black;
    font-size: 1em;
    padding: 5px 20px 5px 5px;
}
table.dashboard_tutorial th {
    border: 1px solid black;
    width:80px;
    font-size: 1.3em;
}
table.dashboard_tutorial_category {
    width: 100%;
    border-collapse: collapse;
    border: none;
}
table.dashboard_tutorial_category td{
    border: none;
}

#select_tutorial, #select_category {
    display: block;
    padding: 5px;
    border-color: #A4A3A3;
}
