/* Useful Links
Messages
http://www.jankoatwarpspeed.com/css-message-boxes-for-different-message-types/
*/
* {
  margin: 0;
  padding: 0;
}
html, body {
  overflow-y: auto;
  height: 100%;
}
hr {
  margin: 15px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Cambria, Georgia, serif;
}

body {
  min-height: 100%;
  font: 15px Helvetica, Sans-Serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,808080+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%, gainsboro 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%, gainsboro 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 1%, gainsboro 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#808080',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.page {
  width: 840px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
div.content {
  padding: 10px;
}
div.content pre {
  border-radius: 5px;
  background-color: #f2f2f2;
  overflow-x: auto;
  white-space: pre-wrap;
  padding-right: 20px;
}
div.content section {
  margin-bottom: 10px;
}
div.content li {
  list-style: none;
}
div.content a {
  text-decoration: none;
}
div.content a:hover {
  text-decoration: underline;
}
div.content a:visited {
  color: blue;
}

/* Messages */
.info, .success, .warning, .error {
  border: 1px solid;
  margin: 10px 0;
  /* account for padding left */
  width: calc(100% - 50px);
  padding:15px 0 15px 50px;
  background-repeat: no-repeat;
  background-position: 5px center;
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
  left: 0;
  right: 0;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('img/info.png');
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('img/green.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('img/attention.png');
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('img/red.png');
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 1000;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
