.images_content {
  display: flex;
  flex-flow: row wrap;
}

.figure {
  float: left;
  max-width: 200px;
  max-height: 264px;
  margin: 5px;
}

.figure .image img:hover {
  border: 2px solid #777;
  max-width: 196px;
  max-height: 196px;
}

.figure .image img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.figure input {
  font-size: 20px;
}
.figure input:hover, .upload .submit:hover {
  border: 2px solid #777;
}

.figure .fileName {
  width: 100%;
  padding: 5px;
  text-align: center;
}
.figure .actions {
  display: flex;
}

.figure .update, .figure .delete {
  width: 50%;
}



.upload {
  margin: 5px;
  width: 200px;
  height: 200px;
}

#files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.uploadBtn {
  width: 100px;
  height: 100px;
  font-size: 100px;
  margin: 50px 0px 0px 50px;
  border-radius: 50px;
  overflow: hidden;
  border: none;
  display: block;
  line-height: .5em;
  background-color: gray;
  line-height: 100px;
}
.uploadBtn:hover {
  color: red;
}

#uploadLabel {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  
}

.upload .submit {
  width: 100%;
  font-size: 20px;
}