/********** General Tags **********/

/*xmp {
    text-align: left;
}*/

input,textarea {
    width: 100%;
    padding: 5px;
    border-color: #A4A3A3;
    display: inline-block;
}
/*img,input:hover,textarea:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/

img {
    width: 100%;
    border: 2px solid #98bf21;
}
.photo_gallery {

}
.photo_gallery figure {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 8px);
    height: auto;
    margin-right: 8px;
}
.photo_gallery figure:nth-of-type(2n) {
    margin-right: 0;
}
@media screen and (min-width: 50em) {
    .photo_gallery figure {
        width: calc(25% - 10px);
    }
    .photo_gallery figure:nth-of-type(2n) {
        margin-right: 8px;
    }
    .photo_gallery figure:nth-of-type(4n) {
        margin-right: 0px;
    }
}
figcaption {
    padding: 10px;
}
figure input {
    width: 90%;
}


/********** Class Tags **********/


div.upload {
    text-align: center;
    width: 200px;
    margin: auto;
}
div.submit {
    text-align: center;
}
